<!DOCTYPE html>
<html>
  <head>
    <title>Login TEST - ${title}</title>
    <meta charset="utf-8" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <link href="CSS/styles.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
  </head>
  <body>
    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <script>
      $(window).on("load", function () {
        $(".loader-wrapper").fadeOut(1000);
      });
    </script>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="#page-top">Coding-nara</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto my-2 my-lg-0">
                  <li class="nav-item"><a class="nav-link" href="/">소개</a></li>
                  <li class="nav-item"><a class="nav-link" href="/curriculum">커리큘럼</a></li>
                  <li class="nav-item"><a class="nav-link" href="/enroll/sub">수강신청</a></li>
                  <li class="nav-item"><a class="nav-link" href="/review">강좌후기</a></li>
                  <li class="nav-item"><a class="nav-link" href="/ask">고객센터</a></li>
                  <li class="nav-item"><a class="nav-link" href="/login"><%-authCheck %></a></li>
              </ul>
          </div>
      </div>
  </nav>
    <div class="count_button">
      <button onclick="countDown();price_change();"><</button>
      <span>현재 카운트 : <string id="count">1</string></span>
      <button onclick="countUp();price_change();">></button>
      <button onclick="countRset();">초기화</button>
    </div>
    <div class="price_div">
      <p>가격 : <string id="price"></string><span>원</span></p>
    </div>
    <div class="point_div">
      <p>포인트 잔액 : <string id="point"></string><span>원</span></p>
    </div>
    <div class="point_use_div">
      <p>
        포인트 사용 : <input type="text" id="point_use" value="0" /><span
          >원</span
        ><input type="button" value="적용" onClick="cal_result_price()" />
      </p>
      <div class="result_price_div">
        <p>총 결제 금액 : <string id="result_price"></string><span>원</span></p>
      </div>
    </div>
    <button onclick="requestPay()">결제하기</button>
    <script>
      var count = 1;
      var price = (<%-JSON.stringify(Price)%>).toLocaleString("ko-KR");
      var point = (<%-JSON.stringify(Point)%>).toLocaleString("ko-KR");
      var result_price = (<%-JSON.stringify(Price)%>).toLocaleString("ko-KR");
      var discount_price = 0;
      const input = document.querySelector("#point_use");
      input.addEventListener("keyup", function (e) {
        let value = e.target.value;
        value = Number(value.replaceAll(",", ""));
        if (isNaN(value)) input.value = 0;
        else {
          const formatValue = value.toLocaleString("ko-KR");
          input.value = formatValue;
        }
      });
      function price_show() {
        document.querySelector("#price").innerText = price;
      }
      price_show();
      function result_price_show() {
        document.querySelector("#result_price").innerText = price;
      }
      result_price_show();

      function Point_show() {
        document.querySelector("#point").innerText = point;
      }
      Point_show();
      function cal_result_price() {
        discount_price = document.getElementById("point_use").value;
        discount_price = Number(discount_price.replaceAll(",", ""));
        if (discount_price <= (<%-JSON.stringify(Point)%>)) {
          result_price = (count * (<%-JSON.stringify(Price)%>)) - discount_price;
          document.querySelector("#result_price").innerText =
            result_price.toLocaleString("ko-KR");
        } else alert("포인트 초과");
      }
      var price_change = function () {
        price = (count * (<%-JSON.stringify(Price)%>)).toLocaleString("ko-KR");
        document.querySelector("#price").innerText = price;
        document.querySelector("#result_price").innerText = price;
      };
      var countUp = function () {
        count = count + 1;
        document.querySelector("#count").innerText = count;
      };
      var countDown = function () {
        if (count > 1) {
          count = count - 1;
          document.querySelector("#count").innerText = count;
        }
      };
      var countRset = function () {
        count = 1;
        price = (count * (<%-JSON.stringify(Price)%>)).toLocaleString("ko-KR");
        document.querySelector("#price").innerText = price;
        document.querySelector("#count").innerText = count;
      };
      const IMP = window.IMP;
      IMP.init("imp71467660");
      const make_merchant_uid = () => {
        const current_time = new Date();
        const year = current_time.getFullYear().toString();
        const month = (current_time.getMonth() + 1).toString();
        const day = current_time.getDate().toString();
        const hour = current_time.getHours().toString();
        const minute = current_time.getMinutes().toString();
        const second = current_time.getSeconds().toString();
        const merchant_uid =
          "MIHEE" + year + month + day + hour + minute + second;
        return merchant_uid;
      };
      const merchant_uid = make_merchant_uid();

      function requestPay() {
        if ((<%-JSON.stringify(Course_Active)%>) == 1) {
          alert("이미 결제가 이뤄진 강의입니다.");
          window.location.href = "http://localhost:3000/enroll/sub";
        } else {
          // IMP.request_pay(param, callback) 결제창 호출
          IMP.request_pay(
            {
              pg: "html5_inicis.INIpayTest", // version 1.1.0부터 지원.
              /*
                  'kakao':카카오페이,
                  html5_inicis':이니시스(웹표준결제)
                      'nice':나이스페이
                      'jtnet':제이티넷
                      'uplus':LG유플러스
                      'danal':다날
                      'payco':페이코
                      'syrup':시럽페이
                      'paypal':페이팔
                  */
              pay_method: "card",
              /*
                  'samsung':삼성페이,
                  'card':신용카드,
                  'trans':실시간계좌이체,
                  'vbank':가상계좌,
                  'phone':휴대폰소액결제
              */
              merchant_uid: merchant_uid,
              /*
                  merchant_uid에 경우
                  https://docs.iamport.kr/implementation/payment
                  위에 url에 따라가시면 넣을 수 있는 방법이 있습니다.
                  참고하세요.
                  나중에 포스팅 해볼게요.
                  */
              name: <%-JSON.stringify(Subject)%>,
              //결제창에서 보여질 이름
              amount: 100, //result_price,
              //가격
              buyer_email: <%-JSON.stringify(Email_Address)%>,
              buyer_name: <%-JSON.stringify(Name)%>,
              buyer_tel: <%-JSON.stringify(Phone_Number)%>,
              buyer_addr: <%-JSON.stringify(Address)%>,
              buyer_postcode: 1,

              /*
                  모바일 결제시,
                  결제가 끝나고 랜딩되는 URL을 지정
                  (카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐)
                  */
            },
            function (rsp) {
              if (rsp.status == "paid" && rsp.paid_amount == 100) {
                if (rsp.success) {
                  console.log(rsp);
                  var count_num = document.getElementById("count").textContent;
                  var original_price =
                    document.getElementById("price").textContent;
                  var final_price =
                    document.getElementById("result_price").textContent;
                  discount_price = document.getElementById("point_use").value;
                  discount_price = Number(discount_price.replaceAll(",", ""));
                  original_price = Number(original_price.replaceAll(",", ""));
                  final_price = Number(final_price.replaceAll(",", ""));
                  var msg = "결제가 완료되었습니다.";
                  msg += "고유ID : " + rsp.imp_uid;
                  msg += "상점 거래ID : " + rsp.merchant_uid;
                  msg += "결제 금액 : " + rsp.paid_amount;
                  msg += "카드 승인번호 : " + rsp.apply_num;
                  alert(msg);
                  window.location.href =
                    "http://localhost:3000/enroll/payment/complete?point=" +
                    discount_price +
                    "&course_id=" +
                    <%-JSON.stringify(Course_ID)%> +
                    "&time_id=" +
                    <%-JSON.stringify(Time_ID)%> +
                    "&date_id=" +
                    <%-JSON.stringify(Date_ID)%> +
                    "&teacher_id=" +
                    <%-JSON.stringify(Teacher_ID)%> +
                    "&count=" +
                    count_num +
                    "&merchant_uid=" +
                    rsp.merchant_uid +
                    "&original_price=" +
                    original_price +
                    "&final_price=" +
                    final_price;
                } else {
                  var msg = "결제에 실패하였습니다.";
                  msg += "에러내용 : " + rsp.error_msg;
                  alert(msg);
                }
              } else {
                alert("위조");
              }
            }
          );
        }
      }
    </script>
  </body>
  <footer>
    <ul class="icons">
      <li>
        <a href="#">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <ion-icon name="mail-outline"></ion-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact Us</a>
      </li>
    </ul>
    <div class="footer-copyright">
      <p>Copyright @ 2022 All Rights Reserved.</p>
    </div>
  </footer>
</html>
