<!DOCTYPE html>
<html>
  <head>
    <title>Login TEST - ${title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../CSS/styles.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
    ></script>
  </head>
  <body>
    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <script>
      $(window).on("load", function () {
        $(".loader-wrapper").fadeOut(1000);
      });
    </script>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="#page-top">Coding-nara</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">소개</a></li>
                <li class="nav-item"><a class="nav-link" href="/curriculum">커리큘럼</a></li>
                <li class="nav-item"><a class="nav-link" href="/enroll/sub">수강신청</a></li>
                <li class="nav-item"><a class="nav-link" href="/review">강좌후기</a></li>
                <li class="nav-item"><a class="nav-link" href="/ask">고객센터</a></li>
                <li class="nav-item"><a class="nav-link" href="/login"><%-authCheck %></a></li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead_mypage">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
              <h1 class="text-white font-weight-bold">마이페이지</h1>
              <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5"></p>
                <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>
    <div align="center">
    <!-- <h2><%-JSON.stringify(Name).replace(/"/g,'')%>님 환영합니다</h2> -->
    </div>
    <div class="row gx-4 gx-lg-5">
    <div class="col-lg-3 col-md-6 text-center">
      <div class="mt-5">
          <div class="mb-2"><a href="/myinfo/update"><i class="bi bi-piggy-bank fs-1 text-primary"></i></a></div>
          <h3 class="h4 mb-2"><a href="/myinfo/update" style="text-decoration:none"><font color = "black">적립금</font></a></h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
      <div class="mt-5">
          <div class="mb-2"><a href="/myinfo/update"><i class="bi bi-megaphone fs-1 text-primary"></i></a></div>
          <h3 class="h4 mb-2"><a href="/myinfo/update" style="text-decoration:none"><font color = "black">공지사항</font></a></h3>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-6 text-center">
      <div class="mt-5">
          <div class="mb-2"><a href="/myinfo/update"><i class="bi bi-lock-fill fs-1 text-primary"></i></a></div>
          <h3 class="h4 mb-2"><a href="/myinfo/update" style="text-decoration:none"><font color = "black">개인정보 수정</font></a></h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
      <div class="mt-5">
          <div class="mb-2"><a href="/myinfo/class"><i class="bi bi-tv fs-1 text-primary"></i></a></div>
          <h3 class="h4 mb-2"><a href="/myinfo/class" style="text-decoration:none"><font color = "black">내 강의실</font></a></h3>
      </div>
    </div>
  </div>
    <!-- <p>비밀번호 : <%-JSON.stringify(Password).replace(/"/g,'')%></p> -->
    <!-- <p>전화번호 : <%-JSON.stringify(Phone_Number).replace(/"/g,'')%></p>
    <p>주소 : <%-JSON.stringify(Address).replace(/"/g,'')%></p>
    <p>이메일 : <%-JSON.stringify(Email_Address).replace(/"/g,'')%></p>
    <p>적립금 : <%-JSON.stringify(Point)%></p>
    <a href="/myinfo/update">수정</a>
    <a href="/myinfo/class">내강의실</a> -->
  </body>
  <!-- Footer-->
  <footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Company Name</div></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<script src="../js/scripts.js"></script>

<!-- Core theme JS-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
</body>
</html>
